/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto";
  font-size: 22px;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  min-width: 320px;
}

.head-logo h1 {
  padding: 15px;
}

/****** BODY ************/
.body p, i, h* {
  font-family: "Roboto";
  font-size: 22px;
}

/*********** ANIME *********/
.cont-load {
  background-color: white;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  animation: stop 0s forwards 3s;
}

.load {
  border: 10px solid #9356DC;
  border-left: 10px solid gray;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  border-radius: 35px;
  animation: rotate 2s linear 2;
}

.logo {
  display: flex;
  justify-content: center;
  width: 13em;
  margin: auto;
}

/********LOCATION****************/
.head-logo {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin: auto;
  padding: 10px;
  font-weight: 500;
}

.location {
  background-color: #EAEAEA;
}

.cont-link {
  background: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  text-align: center;
}
.cont-link span {
  font-weight: 700;
  height: 70px;
}
.cont-link p {
  height: 46px;
}

.a {
  outline: none;
  text-decoration: none;
  font-family: "Roboto";
}

.btn {
  border-radius: 30px;
  padding: 20px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  margin-top: 75px;
  transform: scale(1);
  font-family: "Roboto", sans-serif;
}

.cont-logo .fa-regular {
  background-clip: text;
  -webkit-background-clip: text;
  border-color: black;
  border-width: 50px;
  cursor: pointer;
  transition: transform 400ms;
}
.cont-logo .fa-regular:hover {
  transition: 400ms;
  -webkit-background-clip: text;
  font-weight: 900;
  background-image: linear-gradient(rgb(246, 147, 255), rgb(83, 3, 204));
  -webkit-text-fill-color: transparent;
  transform: scale(1.15);
}

i.fa-solid.fa-mobile-screen-button, i.fa-solid.fa-list, i.fa-solid.fa-store {
  padding: 28px;
  color: black;
}
i.fa-solid.fa-mobile-screen-button i.fa-solid.fa-store, i.fa-solid.fa-list i.fa-solid.fa-store, i.fa-solid.fa-store i.fa-solid.fa-store {
  color: rgb(147, 86, 220);
}

.icon a {
  text-decoration: none;
  color: black;
}

/*********** FONCTION ************/
.head-fonc {
  color: black;
  margin-bottom: 20%;
  margin-top: 10%;
}
.head-fonc h2 {
  padding: 14px;
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 700;
}

.fonction {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.cont-fonc {
  padding: 5px 20px 5px 0;
  min-width: 30%;
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 30px;
  width: 95%;
  border: none;
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0px 9px 8px 5px rgba(0, 0, 0, 0.4);
}
.cont-fonc p {
  font-size: 0.75em;
}

.cont-fonc span {
  background-color: #9356dc;
  border-radius: 50px;
  width: 25px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: -10px;
  color: white;
  height: 25px;
  align-items: center;
}

/*********** RESTAURANT ***************/
.resto img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 25px 0 0;
}

.card-resto {
  width: 100%;
  position: relative;
}

.cont-text-logo {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.link-resto {
  text-decoration: none;
  color: black;
  width: 90%;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 35px;
}

.cont-resto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.resto {
  background: #f6f6f6;
}
.resto .resto-titre {
  padding: 10px;
  margin-left: 15px;
  font-size: 40px;
  font-weight: 700;
}

/************ NOUVEAU *************/
.cont-resto span {
  position: absolute;
  color: #008766;
  background-color: #99E2D0;
  top: 10px;
  right: 23px;
  padding: 10px 20px;
  font-size: 14px;
}

/******************* FOOTER ********************/
footer {
  background-color: #353535;
  height: 10em;
}

.img-footer {
  width: 35%;
  margin-top: 15px;
  filter: invert(1);
  padding: 15px;
}

.ul-footer {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  gap: 8px;
  width: 80%;
}
.ul-footer a {
  text-decoration: none;
  color: white;
}
.ul-footer a .fa-solid {
  color: white;
  margin-right: 5px;
}

/********* HEAD *********************/
.head-logo {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.head-logo h1 {
  text-decoration: none;
  color: black;
  width: 95%;
}

.fa-solid, .fas {
  text-decoration: none;
  color: black;
}

/************* MENU ****************/
.bst {
  width: 100%;
}

.cont-menu {
  background: rgb(246, 246, 246);
  padding: 1em;
  display: flex;
  flex-direction: column;
  margin-top: -60px;
  position: relative;
  border-radius: 50px 50px 0 0;
}
.cont-menu .plat {
  margin-top: 25px;
}
.cont-menu .fa-regular, .cont-menu .fa-heart {
  font-size: 35px;
}
.cont-menu h2 {
  font-family: "Shrikhand";
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.arrow-left {
  position: absolute;
  left: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}

.anime1 {
  animation: spawn 1.8s 0.3s ease-out forwards;
}

.anime2 {
  animation: spawn 1.8s 0.5s ease-out forwards;
}

.anime3 {
  animation: spawn 1.8s 0.8s ease-out forwards;
}

.cont-boutton {
  display: flex;
  align-items: center;
}

.cont-anime {
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
  height: 95px;
}
.cont-anime:hover > .menu-anime {
  width: 10%;
  border-radius: 0px 15px 15px 0px;
}
.cont-anime:hover > .menu-anime i.fa-solid.fa-circle-check {
  font-size: 30px;
  transform: rotate(0deg);
}

.titrelogo {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.titre-prix {
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  align-items: end;
  overflow: hidden;
}
.titre-prix h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50%;
  white-space: nowrap;
}
.titre-prix p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.titre-prix .menu-titre {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.menu-anime {
  height: 100%;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  transform: translateX(0px);
  transition: all 400ms;
}

i.fa-solid.fa-circle-check {
  font-size: 0;
  transform: rotate(360deg);
  color: white;
  transition: transform 400ms, font-size 0ms;
}

.plat h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 400;
  width: 100%;
  margin: auto;
}

.green {
  width: 15%;
  height: 10px;
  background-color: rgb(153, 226, 208);
  margin: 10px 0%;
}

.cont-boutton {
  display: flex;
  justify-content: center;
}

/*********** Bouton ***************/
.btn {
  padding: 20px 70px;
}

/***** Key  ****/
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes stop {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spawn {
  100% {
    opacity: 1;
  }
}
@media (min-width: 1000px) {
  /*********** HEAD *************/
  .head-logo {
    justify-content: center;
  }
  .head-logo h1 {
    width: 65%;
    height: 90px;
    display: flex;
  }
  .cont-link {
    padding: 30px;
  }
  .cont-link span {
    height: 75px;
    font-size: 45px;
  }
  .cont-link p {
    font-size: 20px;
  }
  .cont-link .btn {
    margin-top: 40px;
  }
  /********* FONCTION ************/
  .img-menue {
    height: 353px;
  }
  .img-menue .bst {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .head-fonc {
    margin-bottom: 100px;
    margin-top: 60px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .head-fonc h2 {
    padding: 0px;
  }
  .fonction {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 0;
  }
  .cont-fonc {
    width: auto;
    height: 70px;
    margin-right: 15px;
  }
  .cont-fonc span {
    border-radius: 50px;
    width: 25px;
    left: -12;
    height: 25px;
  }
  /*****************restaurant ******************/
  .resto {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 5% 0 5%;
  }
  .resto img {
    height: 13em;
  }
  .resto .resto-titre {
    padding: 0;
    margin-left: 0;
  }
  .cont-menu {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .cont-menu h2 {
    width: auto;
    margin: auto;
  }
  .cont-menu h2 i {
    margin-left: 15px;
  }
  .cont-resto {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: none;
    gap: 4%;
    width: 100%;
  }
  .link-resto {
    width: 48%;
    margin-bottom: 40px;
  }
  .titrelogo {
    width: auto;
  }
  /************** FOOTER ***********/
  .foot {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 5em;
  }
  .img-footer {
    margin-top: 35px;
    padding: 15px;
    width: 10%;
  }
  .ul-footer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 80%;
    margin-top: 35px;
    justify-content: end;
  }
  .ul-footer li:nth-child(2) {
    margin-right: 35px;
  }
  /******** BOUTON *****************/
}
.btn:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=style.css.map */